.Stop {
  background-color: #aaa;
  height: 100%;

  &-Paper {
    width: auto;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 50px;

  }

  &-Message {
    margin-top: 50px;
    padding: 20px;
    word-wrap: break-word;
  }
}
